
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}

.contatoImg{
    padding-left: 2px;
    display: flex;
    align-items: center;
    gap: 10% 10%;
}

.img{
    max-width: 100px;
    width: 100%;
    margin: 1rem 2rem 1rem 1rem;
}



/*Icones sozinho*/

.links{
    display:flex;
    justify-content: center;
    align-items: center;
}

.upbutton{
    font-size: 20px;
    display: flex;
    width: 30px;
}


/*Media Query para telas pequenas*/
@media screen  and (max-width:650px) {
    .links{flex-direction: column;row-gap: 20px; margin-left: 10px;} 
}





