
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teste{
    display: flex;
    align-items: center;
    
}

.img{
    max-width: 100px;
    width: 100%;
    margin: 1rem 1rem 1rem 2rem;

}

/*Div icones*/
.ulIcones{ 
    margin: 10px;
    list-style: none;
    display: flex;
    gap: 10px;
}

/*Icones sozinho*/
.ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.links{
    display:flex;
    align-items: center;
}

.upbutton{
    font-size: 20px;
    display: flex;
    width: 30px;
}








