/*Section está em alteraçoes globais no app.css*/


    /*color: #f0f8ff;
    display: flex;
    align-items: center;
    width: 100%;
   */

.section{
    padding: 2.5rem 2.5rem 0  2.5rem;
    justify-content: space-evenly;
}

.Divtext{
    padding: 10px;
    display: flex;
    flex-direction: column;

    font-size: 40px
}

.button{
    margin-top: 1rem;

    background-color: transparent;
    border: 1px solid #FFFFFF;
    font-weight: bolder;
    color: #FFFFFF;
    padding: .4em;
    cursor: pointer;

    border-radius: 100px;
    text-transform: uppercase;
    width: 177px;
    font-size: 14px;
    height: 48px;

    transition: .7s
}

.button:hover{
    background-color: white;
    color: black;
    
}
/*
.divImg{
    padding: 1em;
}

width: 100px;*/

.img{
    width: 100%;
    min-width: 180px;
    max-width: 400px;
}

/*Comparacao*/

/*
.section{
    /* width: 100%;
   
    background-color: black;
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    background-color: black;
    border: 1px solid aliceblue;
    font-weight: bolder;
    color: aliceblue;
    border-radius: 10px;
    padding: .4em;
    width: 100px;
    cursor: pointer;
}

.img{
    width: 100%;
    min-width: 180px;
    max-width: 800px;
}

.divImg{
    padding: 40px;
}

.Divp{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.p{
    color: aliceblue;
    padding: 20px;
    display: flex;
    flex-direction: column;
}*/

