
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 3rem;
    height: 15vh;
    border-bottom: 1px solid #D9D9D9;
    /* height: 20vh; */
}

.contatoImg{
    padding-left: 2px;
    display: flex;
    align-items: center;
    gap: 10% 10%;
}

.img{
    /* max-width: 100px; */
    /* width: 100%; */
    /* margin: 1rem 2rem 1rem 1rem; */
}


.icones{
    width: 2em;
    height: 2em;
    margin: .5rem;
}

/*Icones sozinho*/

.links{
    display:flex;
    justify-content: center;
    align-items: center;
}

.upbutton{
    font-size: 20px;
    display: flex;
    width: 30px;
}

.rights{
    text-align: center;
    padding: 3rem;
    font-weight: bold;
}




/*Media Query para telas pequenas*/
@media screen  and (max-width:700px) {
    .footer{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }
    .links{ padding-top: 40px;   } 
    .contato{
    
    }
}





