/*Aqui se altera o do App.js*/
@import url(//db.onlinewebfonts.com/c/29800a9e7d146302b8ed9ad2f848db63?family=Druk+Wide+Web+Bold);

body{
  margin: 0px;
  padding: 0px;
  width: 100vw; 
  height: 100vh;
}

img{
  width: 100%;
  height: 100%;
}


/*
::root{
  $dark-grey: #3F3F3F;
}*/



  

